[submodule "pack/vendor/start/vim-latex"]
	path = pack/vendor/start/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "pack/vendor/start/julia-vim"]
	path = pack/vendor/start/julia-vim
	url = git@github.com:JuliaEditorSupport/julia-vim.git
[submodule "pack/vendor/opt/onedark.vim"]
	path = pack/vendor/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "pack/vendor/start/rust.vim"]
	path = pack/vendor/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "/home/santtu/.vim/pack/vendor/start/csv.vim"]
	path = /home/santtu/.vim/pack/vendor/start/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule "pack/vendor/start/csv"]
	path = pack/vendor/start/csv
	url = git@github.com:chrisbra/csv.vim.git
[submodule "pack/vendor/opt/vim-one"]
	path = pack/vendor/opt/vim-one
	url = git@github.com:rakr/vim-one.git
[submodule "pack/vendor/opt/tokyonight-vim"]
	path = pack/vendor/opt/tokyonight-vim
	url = git@github.com:ghifarit53/tokyonight-vim.git
