[submodule "pack/vendor/start/vim-latex"]
	path = pack/vendor/start/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "pack/vendor/start/julia-vim"]
	path = pack/vendor/start/julia-vim
	url = git@github.com:JuliaEditorSupport/julia-vim.git
[submodule "pack/vendor/opt/onedark.vim"]
	path = pack/vendor/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "pack/vendor/start/rust.vim"]
	path = pack/vendor/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
