[submodule "pack/plugins/start/vim-latex"]
	path = pack/plugins/start/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "/home/santtu/.vim/pack/vendor/start/csv.vim"]
	path = /home/santtu/.vim/pack/vendor/start/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule "pack/vendor/start/csv"]
	path = pack/vendor/start/csv
	url = git@github.com:chrisbra/csv.vim.git
[submodule "pack/colors/opt/tokyonight-vim"]
	path = pack/colors/opt/tokyonight-vim
	url = git@github.com:ghifarit53/tokyonight-vim.git
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/plugins/start/julia-vim"]
	path = pack/plugins/start/julia-vim
	url = git@github.com:JuliaEditorSupport/julia-vim.git
[submodule "pack/plugins/start/vim-vue"]
	path = pack/plugins/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "pack/plugins/start/yats.vim"]
	path = pack/plugins/start/yats.vim
	url = git@github.com:HerringtonDarkholme/yats.vim.git
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "pack/plugins/start/csv.vim"]
	path = pack/plugins/start/csv.vim
	url = git@github.com:chrisbra/csv.vim.git
[submodule "pack/plugins/start/vim-toml"]
	path = pack/plugins/start/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "pack/plugins/start/vim-syntax-clingo"]
	path = pack/plugins/start/vim-syntax-clingo
	url = git@github.com:rkaminsk/vim-syntax-clingo.git
[submodule "pack/plugins/start/vim-matlab"]
	path = pack/plugins/start/vim-matlab
	url = git@github.com:andymass/vim-matlab.git
[submodule "pack/colors/opt/everforest"]
	path = pack/colors/opt/everforest
	url = git@github.com:sainnhe/everforest.git
